@use "../globals" as *;

.content-width {
    width: 90%;
    margin: 0 auto;
    max-width: $contentMaxWidth;
}

.flex {
    display: flex;
    flex-direction: column;

    @include mq(md) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}