.CenterComponents {
  .PostComponents {
    margin: 20px 10%;
    background-color: rgb(162, 196, 196);
    border-radius: 10px;
    padding: 15px;
    .toptitle {
      display: flex;
      .icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: azure;
      }
      .postText {
        margin-left: 10px;
        font-size: 18px;
        display: flex;
        align-items: end;
      }
    }
    .description {
      display: flex;
      margin: 10px 0;
      .postTexttitle{
        width: 5rem;
        // flex: 1;
      }
      .postText{
        font-size: 24px;
        // flex: 5;
      }
    }
    .option {
      display: flex;
      justify-content: end;
    }
  }
}


.PostsComponents {
  margin-top: 20px;
  // .companypost {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   background-color: aqua;
  //   margin: 10px 0;
  // }
}
.PostingComponents {
  display: flex;
  justify-content: center;
  margin: 10px;
  background-color: rgb(196, 247, 255);
  border-radius: 20px;

  form{
    width: 80%;
    padding-top: 20px;
    .post{
      width: 100%;
      height: 80px;
      resize: none;
    }
    .option{
      display: flex;
      justify-content: end;
    }
  }
}