@use "../../styles/globals/" as *;

.HomeComponents {
  display: flex;
  .RightComponents {
    display: none;
    @include mq(lg) {
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
    background-color: rgb(200, 200, 200);
    }
  }
  .CenterComponents {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    flex: 7;
    min-height: 100vh;
    
    .PostsComponents {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  .LeftComponents {
    display: none;
    @include mq(lg) {
      display: flex;
      flex: 3;
      justify-content: center;
      background-color: rgb(200, 200, 200);
    }
  }
}


