.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.flex {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.CenterComponents .PostComponents {
  margin: 20px 10%;
  background-color: rgb(162, 196, 196);
}

.TopbarComponents {
  width: 100%;
  height: 70px;
  background-color: rgb(123, 167, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .TopbarComponents {
    width: 100%;
    height: 80px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.TopbarComponents .logo {
  margin-left: 50px;
}
.TopbarComponents .mobilemenu {
  margin-right: 50px;
}

.HomeComponents {
  display: flex;
}
.HomeComponents .RightComponents {
  display: none;
}
@media screen and (min-width: 1024px) {
  .HomeComponents .RightComponents {
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
    background-color: rgb(200, 200, 200);
  }
}
.HomeComponents .CenterComponents {
  display: flex;
  flex-direction: column;
  flex: 7;
  min-height: 100vh;
}
.HomeComponents .CenterComponents .PostingComponents {
  display: flex;
  justify-content: center;
  margin: 10px;
  background-color: bisque;
}
.HomeComponents .CenterComponents .PostsComponents {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.HomeComponents .LeftComponents {
  display: none;
}
@media screen and (min-width: 1024px) {
  .HomeComponents .LeftComponents {
    display: flex;
    flex: 3;
    justify-content: center;
    background-color: rgb(200, 200, 200);
  }
}

.PostsComponents {
  margin-top: 20px;
}
.PostsComponents .companypost {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  margin: 10px 0;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
  width: 300px;
  opacity: 0;
  visibility: hidden;
}
.mobile-menu .logo {
  padding: 0 40px;
  font-size: 38px;
  display: block;
  opacity: 0;
}
.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
}
.mobile-menu__btn > span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  transition: transform 0.7s;
}
.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}
.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
  cursor: pointer;
  z-index: 200;
}
.mobile-menu__main {
  padding: 0;
  perspective: 2000px;
  transform-style: preserve-3d;
}
.mobile-menu__item {
  list-style: none;
  display: block;
  transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  transition: transform 0.3s, opacity 0.2s;
  opacity: 0;
}
.mobile-menu__link {
  display: block;
  margin-top: 30px;
  color: black;
  text-decoration: none !important;
}

.menu-open #container {
  transform: translate(-300px, 60px);
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}
.menu-open .mobile-menu {
  opacity: 1;
  visibility: visible;
}
.menu-open .mobile-menu .logo {
  opacity: 1;
  visibility: visible;
}
.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}
.menu-open .mobile-menu__item {
  transform: none;
  opacity: 1;
}
.menu-open .mobile-menu__item:nth-child(1) {
  transition-delay: 0.07s;
}
.menu-open .mobile-menu__item:nth-child(2) {
  transition-delay: 0.14s;
}
.menu-open .mobile-menu__item:nth-child(3) {
  transition-delay: 0.21s;
}
.menu-open .mobile-menu__item:nth-child(4) {
  transition-delay: 0.28s;
}
.menu-open .mobile-menu__item:nth-child(5) {
  transition-delay: 0.35s;
}
.menu-open .mobile-menu__btn > span {
  background-color: black;
}
.menu-open .mobile-menu__btn > span:nth-child(1) {
  transition-delay: 70ms;
  transform: translateY(11px) rotate(135deg);
}
.menu-open .mobile-menu__btn > span:nth-child(2) {
  transition-delay: 0s;
  transform: translateX(-18px) scaleX(0);
}
.menu-open .mobile-menu__btn > span:nth-child(3) {
  transition-delay: 140ms;
  transform: translateY(-11px) rotate(-135deg);
}/*# sourceMappingURL=style.css.map */